.arrow {
    background: url("../img/icons/arrow-slider.webp") 0 0 no-repeat
}

.arrow {
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 16px;
    height: 44px;
    background: url("../img/icons/arrow-slider.png") 0 0 no-repeat;
}

.arrow_prev {
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.arrow_next {
    -webkit-transform: translate(0%, -50%) rotate(180deg);
    -ms-transform: translate(0%, -50%) rotate(180deg);
    transform: translate(0%, -50%) rotate(180deg);
}

.items-control__arrow_prev {
    left: 0;
}

.items-control__arrow_next {
    right: 0;
}

@media all and (max-width: 980px) {
    .items-control__arrow_prev {
        left: auto;
        right: 40px;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .items-control__arrow_next, .items-control__arrow_prev {
        top: -52px;
        width: 30px;
        height: 30px;
        background: #fff url("../img/icons/item-slider.png") center no-repeat;
        border: 3px solid #dbdee6;
        border-radius: 50%;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .items-control__arrow_next:hover, .items-control__arrow_prev:hover {
        border: 3px solid #ff5e1e;
    }
    .items-control__arrow_next {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}